*, html 
{
    margin:0;
    padding:0;  
    white-space: pre-line;
    size : portrait;
}
@page 
{
    size : letter;
}
@media print 
{ 
    body 
    { 
        -webkit-print-color-adjust: exact;
        margin: 0;
        padding: 0;
    }

}
@font-face 
{
    font-family: Railway;
    src: url(./Fonts/raleway_thin-webfont.woff);
}




/*
    font , padding, and under border definitions for all title elements
*/
div[id$= '_title']
{
    padding-bottom: 10px;
    letter-spacing: 2px;
    font-size: 26pt;
    border-bottom: 1px solid red;
}

#grid_wrapper
{
    display: grid;
    grid-template-columns: 25vmax 75vmax;
    grid-template-rows: 15vmax 85vmax;
}

/*
    define placement and other properties of wropper divs in the grid
*/

#wrapper_left
{
    letter-spacing: 2px;
    background: lightblue;
    margin: 0;
    grid-column: 1 / 1;
    grid-row: 2 / 2;

    padding-left: 15px;
    padding-right: 15px;
}

#wrapper_right
{
    letter-spacing: 2px;
    background: gray;
    margin: 0;
    grid-column: 2 / 2;
    grid-row: 2 / 2;


    padding-left: 15px;
    padding-right: 15px;
}

#wrapper_name
{
    letter-spacing: 2px;
    background: khaki;
    margin: 0;
    line-height: 1.6;

    grid-column: 1 / span 2;
    grid-row: 1 / 1;
}

#name_table
{
    margin-left: auto;
	margin-right: auto;
}

#Personal_Info_List li
{
    list-style: none;
    padding-top: 20px;
}


#name
{
            
    font-family : Railway;
    font-size : 46pt;

    vertical-align: middle;
}
#Skills_Box
{
    letter-spacing: 2px;
    padding-top : 20px ;
    line-height: 26pt;
    margin: 0;
}

#Objective_Box
{   
    background : gray;
}



#objective_info
{
    padding-top: 10px;
}

