*, html 
{
    margin:0;
    padding:0;  
    size : portrait;
}
@page 
{
    size : portrait;
}
@media print 
{ 
    body 
    { 
        -webkit-print-color-adjust: exact;
        margin: 0;
        padding: 0;
    }

}
/*
    font , padding, and under border definitions for all title elements
*/
div[id$= '_title']
{
    padding-bottom: 10px; 
    letter-spacing: 2px;
    font-size: 26pt;
    border-bottom: 1px solid red;
}

#wrapper_left
{
    
    float: left;
    letter-spacing: 2px;
    background: lightblue;
    margin: 0;

    width : 25vw;
    height: 100vh;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;

}

#wrapper_right
{
    padding-left : 40px;
    margin: 0;
}


#name
{
    padding-top: 10px;
    padding-right: 40px;
    font-size: 36pt;
}

#Skills_Box
{
    letter-spacing: 2px;
    padding-top : 20px ;
    line-height: 26pt;
    background: lightblue;
    margin: 0;
}

#Objective_Box
{   
    background : gray;
    height : 20% ;
}



#objective_info
{
    padding-top: 10px;
}

